body {
    background-color: #151515;
    font-family: 'Space Grotesk', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

.heading-XL {
    font: bold;
    font-size: 88px;
    color: #FFFFFF;
}

.heading-L {
    font: bold;
    font-size: 48px;
    color: #FFFFFF;
}

.heading-M {
    font: bold; 
    font-size: 24px;
    color: #FFFFFF;
}

.body-L {
    font: medium;
    font-size: 18px;
    color: #D9D9D9;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

form {
    background: #242424;
    width: 500px;
    padding: 30px;
    font-size: 18px;
    color: #242424;
}

form input, textarea {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000;
    outline: none;
}

img {
    width: 300;
    height: 300;
}

hr {
    background-color: white;
    height: 1px;
}

.right {
    float: right;
}

.left {
    float: left;
}